<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="UTF-8">
        <title>demo</title>
        <link rel="stylesheet" href="demo.scss">
    </head>
    <body>
        叼叼叼
        <img src="demo.png" alt="" width="100">
        
        <div class="test">
            
        </div>

        <div class="wrap">
            <div class="test1"></div>
            <div class="test2"></div>
            <div class="test3"></div>
            <div class="test4"></div>
        </div>
        <script src="demo.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://172.26.88.29:8132/livereload.js"></script><script type="text/javascript" charset="utf-8" src="http://172.26.88.29:8132/livereload.js"></script></body>
</html>